<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->
<% #byebug %>

<ul>
	<% @posts.each do |post| %>
		<li><a href="<%= "/posts/#{post.id}" %>"><%= post.title %></a></li>
	<% end %>
</ul>